
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One');

body {
background-color: #E1ECF9;
}
  
/* defining grid container by Name */
.container {
    border: 5px solid black; 
    display: grid;
    grid-template-rows: 10rem 20rem 40rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'form'
      'content';
    gap: 5px;
    font-family: Verdana, monospace;
 }      

/* grid row 1 */
.header {
  grid-area: header;
  grid-row: 1;
  color: #091D34;
  background: #236AB9;
  text-align: center;
   
 }
  /* grid row 2 */  
.form {
  grid-area: footer;
  grid-row: 3;
  text-align: center;
  border: 5px solid #E1ECF9;
  margin-top: 2rem; 
}
 
/* grid row 3 */
 .content {
  grid-area: content;
  grid-row: 2;
  color: #091D34;
  text-align: center;
  font-size: 1.5rem;
  } 

.pagetitle {
  font-size: 2.5rem;
  margin-top: 1.5rem;        
  font-family: 'Mochiy Pop One', sans-serif;
  }

.pagesubtitle {
    font-size: 1.25rem;
    font-family: 'Mochiy Pop One', sans-serif;
}

/* added margin to placeholder so that when the screen gets smaller, there will be a space between search city and get weather info */
#placeholder {
  margin: 5px;
  font-size:1.5rem;
}

#button {
  background-color: #609CE1;
  border-color:#091D34;
  font-size:1.5rem;
}